body {
  background: #e74c3c;
  color: white;
  font: bold 16px arial;
}

#dropzone {
  position: absolute;
  top: 50%;
  left:50%;
  border: 3px solid #fee;
  border-radius: 5px;
  color: white;
  font: bold 16px arial;

  height: 200px;
  margin-left: -150px;
  margin-top: -100px;
  text-align: center;
  width: 300px;
  text-overflow: clip;
}

#dropzone.hover, #dropzone.dropped {
  background: #fff;
  border: 3px solid #fee;
  color: #e74c3c;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-overflow: clip;
  display: flex;
  justify-content: center;
  align-items: center;
}


#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#subbtn {
  position: absolute;
  bottom:0;
  right:0;
  opacity: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  background: #fee;
  border: 1px dashed #ee4c58;
  padding: 1px;
  margin:auto;

}

#page{
  width: 100%;
  max-width: 800px;
  padding: 40px;
  margin: auto;
  padding-top: 40px;
} 


.service{
  display: flex;
  flex-wrap: wrap;

  width: 100%;
}

.service:hover {
  background: #f74c3c;
}

.name, .port{
  font-size: 3vw;
  border-bottom: 3px solid #f74c3c;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 50%;
}