<html>
<head>
	<title>Podder</title>
	<link rel="stylesheet" href="style.css">
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body>
	<div id="page">

		{{range .}}
		<div class="service">
			<div class="name">{{.Name}} <a href="/delete/{{.Name}}">x</a></div>
			<div class="port">{{.Port}}</div>
		</div>
		{{end}}
		
	</div>

	<form id="fileform" enctype="multipart/form-data" action="/getbinary" method="POST">
		<div id="dropzone">
			<div>+ Launch</div>
			<input type="file" name="upload">
			<input id="subbtn" type="submit" name="submit" value="Submit">
		</div>
	</form> 
</body>
</html>